<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- AGGRESSIVE NODE.JS OVERRIDE -->
    <handlers>
      <!-- Clear ALL handlers first -->
      <clear />
      <!-- Add ONLY Node.js handler -->
      <add name="iisnode" path="*.js" verb="*" modules="iisnode" />
      <add name="iisnode-server" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- URL Rewriting to force Node.js -->
    <rewrite>
      <rules>
        <!-- Catch all rule - everything goes to Node.js -->
        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
        <!-- Force all requests to server.js -->
        <rule name="ForceNodeJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- DISABLE ALL STATIC SERVING -->
    <staticContent>
      <clear />
    </staticContent>
    
    <!-- Disable default documents -->
    <defaultDocument enabled="false">
      <files>
        <clear />
      </files>
    </defaultDocument>
    
    <!-- FORCE IISNODE -->
    <iisnode 
      nodeProcessCommandLine="node"
      node_env="production"
      loggingEnabled="true"
      logDirectoryNameSuffix="nodejs"
      debuggingEnabled="false"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="true"
      promoteServerVars="LOGON_USER,AUTH_USER,AUTH_TYPE,HTTPS,SERVER_SOFTWARE"
      configOverrides="iisnode.yml" />
      
    <!-- Disable ALL other features that might interfere -->
    <directoryBrowse enabled="false" />
    <modules>
      <remove name="DefaultDocumentModule" />
      <remove name="StaticFileModule" />
    </modules>
    
    <!-- Security - prevent access to Node.js files -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".git" />
          <add segment=".vscode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration> 